Repository enrferaba/Codex_Intento1, changes with the owners that CODEOWNERS names for each.
All owners: @feria/core-team, @feria/api-team, @feria/platform, @feria/llm-serving, @feria/security, @feria/docs

CODEOWNERS:

# Default owners
*       @feria/core-team

# Critical services
/services/api-gateway/   @feria/api-team
/services/orchestrator/  @feria/platform
/services/model-gateway/ @feria/llm-serving
/services/sandbox-runner/ @feria/security

# Docs
/docs/ @feria/docs

Refactor CLI and HTTP stubs to run offline
  apps/feriactl/pyproject.toml
  apps/feriactl/src/feriactl/__init__.py
  apps/feriactl/src/feriactl/commands/base.py
  apps/feriactl/src/feriactl/commands/health.py
  apps/feriactl/src/feriactl/commands/ingest.py
  apps/feriactl/src/feriactl/commands/queues.py
  apps/feriactl/src/feriactl/commands/scale.py
  apps/feriactl/src/feriactl/commands/snapshot.py
  apps/feriactl/src/feriactl/commands/status.py
  apps/feriactl/src/feriactl/main.py
  apps/feriactl/src/feriactl/utils/api.py
  apps/feriactl/tests/test_api_client.py
  apps/feriactl/tests/test_health_command.py
  apps/feriactl/tests/test_status_command.py
  conftest.py
  docker-compose.yml
  packages/agent/pyproject.toml
  packages/core/pyproject.toml
  packages/metrics-client/pyproject.toml
  packages/metrics-client/src/metrics_client/prometheus.py
  packages/sdk/pyproject.toml
  packages/sdk/src/sdk/schemas.py
  pyproject.toml
  services/api-gateway/Dockerfile
  services/api-gateway/pyproject.toml
  services/api-gateway/src/api_gateway/deps/auth.py
  services/api-gateway/src/api_gateway/domain/schemas.py
  services/api-gateway/src/api_gateway/framework.py
  services/api-gateway/src/api_gateway/main.py
  services/api-gateway/src/api_gateway/routes/__init__.py
  services/api-gateway/src/api_gateway/routes/admin.py
  services/api-gateway/src/api_gateway/routes/agent.py
  services/api-gateway/src/api_gateway/routes/eval.py
  services/api-gateway/src/api_gateway/routes/health.py
  services/api-gateway/src/api_gateway/routes/ingest.py
  services/api-gateway/src/api_gateway/routes/query.py
  services/api-gateway/tests/test_health.py
  services/retrieval/src/retrieval/service.py
Owners: @feria/core-team, @feria/api-team

Make workspace pyprojects setuptools-based and silence cspell
  apps/feriactl/pyproject.toml
  docs/runbooks/drift.md
  docs/runbooks/gpu-oom.md
  docs/runbooks/latency-p95.md
  docs/runbooks/restore-dr.md
  packages/agent/pyproject.toml
  packages/core/pyproject.toml
  packages/eval/pyproject.toml
  packages/metrics-client/pyproject.toml
  packages/observability/pyproject.toml
  packages/policy/pyproject.toml
  packages/sdk/pyproject.toml
  pyproject.toml
  services/api-gateway/pyproject.toml
  services/cpu-worker/pyproject.toml
  services/debug-agent/pyproject.toml
  services/eval-service/pyproject.toml
  services/event-bus/pyproject.toml
  services/gpu-worker/pyproject.toml
  services/ingestor/pyproject.toml
  services/model-gateway/pyproject.toml
  services/observability/pyproject.toml
  services/retrieval/pyproject.toml
  services/sandbox-runner/pyproject.toml
  services/snapshotter/pyproject.toml
Owners: @feria/core-team, @feria/docs, @feria/api-team, @feria/llm-serving, @feria/security

Ignore runbook docs in cspell
  cspell.json
Owners: @feria/core-team

Add debug logging controls and tooling
  Makefile
  apps/feriactl/src/feriactl/commands/health.py
  apps/feriactl/src/feriactl/commands/status.py
  apps/feriactl/src/feriactl/main.py
  apps/feriactl/src/feriactl/utils/api.py
  apps/feriactl/tests/test_api_client.py
  apps/feriactl/tests/test_health_command.py
  apps/feriactl/tests/test_main.py
  apps/feriactl/tests/test_status_command.py
  packages/core/src/core/logging.py
  packages/core/tests/test_logging.py
  scripts/bench_rag.py
  scripts/dev_debug.py
  scripts/eval_nightly.py
  scripts/simulate_load.py
  scripts/snapshot_create.py
  scripts/snapshot_restore.py
  scripts/tests/test_dev_debug.py
  services/api-gateway/src/api_gateway/routes/health.py
Owners: @feria/core-team, @feria/api-team

Add debugging snapshot tooling and CLI entrypoint
  Makefile
  README.md
  apps/feriactl/src/feriactl/commands/debug.py
  apps/feriactl/src/feriactl/main.py
  apps/feriactl/tests/test_debug_command.py
  apps/feriactl/tests/test_main.py
  docs/reports/debug_progress.md
  packages/core/src/core/debug.py
  packages/core/tests/test_debug.py
  scripts/debug_suite.py
  scripts/tests/test_debug_suite.py
Owners: @feria/core-team, @feria/docs

Enhance debug snapshot journaling
  docs/reports/debug_progress.md
  docs/reports/debug_sessions.jsonl
  docs/reports/debug_sessions.md
  packages/core/src/core/debug.py
  packages/core/tests/test_debug.py
  scripts/debug_suite.py
  scripts/tests/test_debug_suite.py
Owners: @feria/docs, @feria/core-team

Enhance debug suite coverage and snapshot context
  docs/reports/debug_progress.md
  docs/reports/debug_sessions.jsonl
  docs/reports/debug_sessions.md
  packages/core/src/core/debug.py
  packages/core/tests/test_debug.py
  scripts/debug_suite.py
  scripts/tests/test_debug_suite.py
Owners: @feria/docs, @feria/core-team

Fix build backend deps and narrow doc spellcheck
  cspell.json
  docs/reports/debug_sessions.jsonl
  pyproject.toml
Owners: @feria/core-team, @feria/docs
